.header-wrapper {
    background-color: $color-white;

    .navbar {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar-content {
        width: 100%;
    }

    .logo-wrapper {
        width: 20%;
        background-color: $color-primary;
        margin-top: 0;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        display: flex;
        justify-content: center;

        @media (max-width: 767px) {
            width: 40%;
        }

        @media (max-width: 400px) {
            width: 50%;
        }
    }

    .menu-wrapper {
        width: 100%;

        @media (max-width: 1050px) {
            display: none !important;
        }
    }

    .top-menu {
        padding: 10px 50px;
        border-bottom: 1px solid#ededed;
    }

    .main-menu {
        padding: 23px 50px;
    }

    .contact-info {
        .contact-item {
            font-size: 14px;
            color: $color-gray;
            font-weight: 400;

            &:not(:last-child) {
                margin-right: 50px;

                @media (max-width: 1164px) {
                    margin-right: 20px;
                }
            }

            .item-icon {
                color: $color-secondary;
                margin-right: 5px;
            }
        }
    }

    .social-icons {
        .social-link {
            font-size: 18px;
            color: $color-secondary;
            &:not(:last-child) {
                margin-right: 40px;

                @media (max-width: 1164px) {
                    margin-right: 20px;
                }
            }

            &:hover {
                color: $color-primary;
                transition: color 0.3s ease-in-out;
            }
        }
    }

    .main-menu-right {
        position: relative;
        &::before {
            content: "";
            width: 1px;
            height: 74px;
            background-color: #ededed;
            position: absolute;
            left: -110px;

            @media (max-width: 1164px) {
                left: -50px;
            }
        }

        .menu-right-search {
            font-size: 18px;
            color: $color-secondary;
            cursor: pointer;
            margin-right: 50px;

            @media (max-width: 1164px) {
                margin-right: 30px;
            }
        }

        .search-box {
            position: absolute;
            bottom: -85px;
            right: 0;
            z-index: 10;
            display: none;

            input {
                min-width: 300px;
                border: 2px solid $color-primary;
                padding: 0px 10px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;

                &::placeholder {
                    font-size: 14px;
                    color: $color-gray;
                    font-family: $oxygen;
                }
            }

            .search-button {
                width: 60px;
                height: 60px;
                background-color: $color-primary;
                color: $color-white;
                margin-left: -50px;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }

    // MAIN MENU
    .main-menu {
        ul {
            line-height: 1;
            > li {
                display: inline-block;
                line-height: 1;

                &:not(:last-child) {
                    margin-right: 55px;
                }

                > a {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 16px;
                    text-transform: capitalize;
                    color: $color-secondary;
                    line-height: 1;
                    overflow: hidden;
                }

                .icon {
                    font-size: 10px;
                    font-weight: 400;
                    margin-left: 3px;
                }

                &:hover {
                    > a {
                        color: $color-primary;
                        transition: color 0.3s ease-in-out;
                    }

                    > ul {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }
                }

                > ul {
                    position: absolute;
                    top: 100%;
                    min-width: max-content;
                    background-color: $color-primary;
                    left: 0;
                    z-index: 999;
                    box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
                    visibility: hidden;
                    opacity: 0;
                    transform: translateY(40px);
                    transition: all 0.5s ease-in-out;
                    padding: 10px 0px;
                    margin-top: 20px;

                    li {
                        display: block;
                        a {
                            display: block;
                            color: $color-white;
                            padding: 12px 25px;

                            &:hover {
                                color: #fff;
                            }
                        }
                    }

                    ul {
                        left: 100%;
                        top: 0;
                    }
                }
            }
        }
    }
}

// MOBILE MENU
#hamburger {
    color: $color-secondary;
    font-size: 30px;
    display: none;
    position: absolute;
    top: 23px;
    right: 50px;

    @media (max-width: 1050px) {
        display: block !important;
    }

    @media (max-width: 575px) {
        right: 20px;
    }

    i {
        cursor: pointer;
    }
}

// MOBILE NAV

.mobile-nav-one-wrapper {
    .mobile-nav {
        position: fixed;
        right: -540px;
        top: 0;
        width: 500px;
        height: 100vh;
        scroll-behavior: smooth;
        overflow-y: scroll;
        transition: right 0.5s ease-in;
        background-color: $color-secondary;
        padding: 20px;
        z-index: 9999;
        box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);

        @media (max-width: 767px) {
            width: 320px;
            right: -440px;
        }

        &.show {
            right: 0px;
        }

        .close-nav {
            border: 0;
            background: transparent;
            color: #fff;
            border-radius: 30px;
            font-size: 20px;
            position: absolute;
            left: 20px;
            top: 10px;
        }

        /* Vertical Menu Style */
        .sidebar-nav {
            margin-top: 30px;
        }
        .sidebar-nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            background-color: transparent;
        }
        .sidebar-nav .metismenu {
            display: flex;
            flex-direction: column;
        }
        .sidebar-nav .metismenu > li {
            position: relative;
            display: flex;
            flex-direction: column;
        }
        .sidebar-nav .metismenu a {
            font-size: 16px;
            position: relative;
            display: block;
            padding: 10px 15px;
            transition: all 0.3s ease-out;
            text-decoration: none;
            color: #fff;
            outline-width: 0;
            text-transform: capitalize;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        }
        .sidebar-nav .metismenu ul a {
            padding: 10px 15px 10px 35px;
            position: relative;

            &:hover {
                padding-left: 40px;
                &::before {
                    background-color: #fff;
                }
            }

            &::before {
                position: absolute;
                left: 15px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid #fff;
                content: "";
                top: 50%;
                transition: all 0.3s ease-in-out;
                transform: translateY(-50%);
            }
        }
        .sidebar-nav .metismenu ul ul {
            list-style-type: circle !important;
        }
        .sidebar-nav .metismenu ul ul a {
            padding: 10px 15px 10px 45px;
        }
        .sidebar-nav .metismenu a:hover,
        .sidebar-nav .metismenu a:focus,
        .sidebar-nav .metismenu a:active {
            text-decoration: none;
            color: #f8f9fa;
            background: $color-primary;
        }
    }

    .action-bar {
        margin-top: 30px;
        padding-left: 20px;
        a {
            color: #fff;
            display: block;
            margin-top: 12px;

            i {
                margin-right: 10px;
            }

            &.theme-btn {
                text-align: center;
            }
        }
    }

    .social-icons {
        font-size: 16px;
        color: $color-gray;
        cursor: pointer;
        margin: 30px 0px;

        a {
            margin-right: 20px;
        }
    }
}
